* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(66, 35, 35);
    position: relative;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
}

.header__image {
    width: 60px;
    height: 50px;
}

.header__nav {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: rgba(114, 104, 95, 0.916);
    visibility: visible;
    right: -55px;
    top: 0;
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
}

.

.header__button {
    
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.header__icon,
.header__icon::before,
.header__icon::after {
    width: 30px;
    height: 5px;
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
}
.header__icon::before {
    content: '';
    transform: translate(-15px, -10px);
}
.header__icon::after {
    content: '';
    transform: translate(-15px, 10px);
}