* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(66, 35, 35);
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__image {
    width: 50px;
    height: 40px;
    /* width: 60px;
    height: 50px; */
}

.header__nav {
    width: 50%;
    height: 100vh;
    position: absolute;
    background-color: rgba(109, 103, 98, 0.951);
    visibility: hidden;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
}

.header__ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.header__ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #FFF;
}

@keyframes slideIn {
    from {
        right: -50%;
    }
    to {
        right: 0;
        
    }
}
@keyframes slideOut {
    from {
        right: 0;
    }
    to {
        right: -50%;
        
    }
}

.header__button {
    z-index: 1;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

.header__icon,
.header__icon::before,
.header__icon::after {
    width: 30px;
    height: 5px;
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
}
.header__icon::before {
    content: '';
    transform: translate(-15px, -10px);
}
.header__icon::after {
    content: '';
    transform: translate(-15px, 10px);
}



.header__cancel,
.header__cancel::before,
.header__cancel::after {
    width: 30px;
    height: 5px;
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
}
.header__cancel::before {
    content: '';
    transform: translateX(-15px) rotate(45deg);
    
}
.header__cancel::after {
    content: '';
    transform: translateX(-15px) rotate(-45deg);
    ;
} 

